@import 'index';

.burger-menu__container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    width: 30px;
    height: 20px;

    .burger-menu__layer {
        height: 4px;
        width: 100%;
        border-radius: 2px;

        background: $text-colour;
    }
}