@import 'index';

div.page-title__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    margin-bottom: 42px;

    .page-title__text {
        position: absolute;
        color: $text-colour;

        z-index: 1;
    }

    .page-title__image {
        width: 100%;
        height: 60vh;
        filter: brightness(.8)
    }

    .page-title__separator {
        position: absolute;
        bottom: -41px;
        height: 90px;
        width: 100%;
        filter: drop-shadow(0px 4px 4px lightgrey) brightness(.97);
    }
}