$text-colour: #ffffff;
$text-colour-secondary: #7a7a7a;

$background-colour: #dedede;

$accent-colour: #4a9e8d;

$title-font-size: 8rem;
$sub-title-font-size: 2rem;
$text-content-font-size: 1rem;
$text-content-font-small: .8rem;

$border-colour: #b6b6b6;

$danger-colour: rgb(211, 102, 102);