@import 'index';

.about__container {
    width: 100%;
    height: 100%;

    margin-top: 75px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .about__content {
        font-size: $text-content-font-size;
        width: 60%;
        color: $text-colour-secondary;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
}