@import 'index';

@media only screen and (min-width: $laptop) {
    app-about {
        display: block;
    }

    app-how-it-works {
        display: none;
    }

    app-inline-services {
        display: none;
    }
}


@media only screen and (max-width: $laptop) {
    app-about {
        display: none;
    }

    app-how-it-works {
        display: block;
    }

    app-inline-services {
        display: block;
    }
}