@import 'index';

app-about {
    display: block;

    @media only screen and (max-width: $laptop) {
        display: none;
    }
}

app-how-it-works {
    display: none;

    @media only screen and (max-width: $laptop) {
        display: block;
    }
}