@import 'index';

.media-icons__wrapper {
    display: flex;
    justify-content: space-between;

    width: 120px;
    position: fixed;
    bottom: 10px;
    left: 10px;

    span {
        font-family: 'media icons';
        font-size: $sub-title-font-size;
        color: #7a7a7a;
        background-color: #4a9e8d;
        border-radius: 50%;
        width: $sub-title-font-size;
        height: $sub-title-font-size;
        transition: background-color 100ms linear;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #98ddcf;
            cursor: pointer;
        }
    }
}